#card-body {
    background-color: black;
    color: white;
    height: 125px;
    width: 200px; 
    margin-left: 100px; 
    border-radius: 25px;
}

#card-body:hover { 
    transform: translateY(-10px);
    transition-duration: .3s;
}