#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#column {
    background-color: #FEFFFF;
    height: 75vh;
    margin-top: 10px;
    border-radius: 25px;
    
}