.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drag-context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#modal{
  height: 300px;
  width: 300px;
  border-color: blue;
  display: "none"
}

.btn {
  width: 30%;
}
