body {
  background-color:#190061;
}

#app {
  text-align: center;
  color:#282828;; 
}

#tool-container {
 height: 80vh;
 width: 80vw;
 background-color: #282828;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border-radius: 25px;
}
